<div class="modal fade" id="outboundPackingHelp" tabindex="-1" aria-labelledby="outboundPackingHelpLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="outboundPackingHelpLabel">Outbound Packing - Help</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Packing creates shipping packages for checked outbound orders.</p>
                <ul>
                    <li>Select a checked order and create one or more packages.</li>
                    <li>Fill weight and dimensions to generate accurate labels.</li>
                    <li>Use the preview modal to validate package content before printing.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
