@using DevcraftWMS.DemoMvc.Enums
@model DevcraftWMS.DemoMvc.ViewModels.Structures.StructureFormViewModel

<div class="row g-3">
    <div class="col-md-4">
        <label class="form-label">Warehouse</label>
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-box-seam"></i></span>
            <select class="form-select" asp-for="WarehouseId" asp-items="Model.Warehouses" data-structure-warehouse>
                <option value="">Select</option>
            </select>
        </div>
        <span class="text-danger" asp-validation-for="WarehouseId"></span>
    </div>
    <div class="col-md-4">
        <label class="form-label">Sector</label>
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-grid-3x3-gap"></i></span>
            <select class="form-select" asp-for="SectorId" asp-items="Model.Sectors" data-structure-sector>
                <option value="">Select</option>
            </select>
        </div>
        <span class="text-danger" asp-validation-for="SectorId"></span>
    </div>
    <div class="col-md-4">
        <label class="form-label">Section</label>
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-layout-text-sidebar"></i></span>
            <select class="form-select" asp-for="SectionId" asp-items="Model.Sections" data-structure-section>
                <option value="">Select</option>
            </select>
        </div>
        <span class="text-danger" asp-validation-for="SectionId"></span>
    </div>
    <div class="col-md-3">
        <label class="form-label">Code</label>
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-hash"></i></span>
            <input class="form-control" asp-for="Code" />
        </div>
        <span class="text-danger" asp-validation-for="Code"></span>
    </div>
    <div class="col-md-5">
        <label class="form-label">Name</label>
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-tag"></i></span>
            <input class="form-control" asp-for="Name" />
        </div>
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="col-md-4">
        <label class="form-label">Type</label>
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-diagram-3"></i></span>
            <select class="form-select" asp-for="StructureType" asp-items="Html.GetEnumSelectList<StructureType>()"></select>
        </div>
    </div>
    <div class="col-md-3">
        <label class="form-label">Levels</label>
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-layers"></i></span>
            <input class="form-control" asp-for="Levels" type="number" min="1" max="200" />
        </div>
        <span class="text-danger" asp-validation-for="Levels"></span>
    </div>
</div>
