<div class="card shadow-sm">
    <div class="card-body">
        <h2 class="h5">Checklist Operacional</h2>
        <div class="row g-3">
            <div class="col-12 col-lg-6">
                <h3 class="h6">Antes de iniciar (inbound)</h3>
                <ul class="small">
                    <li>Confirmar ASN/Inbound Order aprovada.</li>
                    <li>Produtos e UoM cadastrados.</li>
                    <li>Endereco e zonas ativos.</li>
                </ul>
            </div>
            <div class="col-12 col-lg-6">
                <h3 class="h6">Antes de iniciar (outbound)</h3>
                <ul class="small">
                    <li>OS criada com itens corretos.</li>
                    <li>Estoque disponivel para reserva.</li>
                    <li>Metodo de picking e prioridade definidos.</li>
                </ul>
            </div>
            <div class="col-12 col-lg-6">
                <h3 class="h6">Depois de concluir (inbound)</h3>
                <ul class="small">
                    <li>Receipts finalizados.</li>
                    <li>Putaway concluido.</li>
                    <li>Saldos atualizados.</li>
                </ul>
            </div>
            <div class="col-12 col-lg-6">
                <h3 class="h6">Depois de concluir (outbound)</h3>
                <ul class="small">
                    <li>Picking e conferencia concluidos.</li>
                    <li>Volumes e etiquetas gerados.</li>
                    <li>Shipping registrado.</li>
                </ul>
            </div>
        </div>
    </div>
</div>