<div class="modal fade" id="pickingTasksHelp" tabindex="-1" aria-labelledby="pickingTasksHelpLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pickingTasksHelpLabel">Picking Tasks - Help</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Picking tasks represent the work required to separate outbound order items before packing.</p>
                <ul>
                    <li>Use filters to locate tasks by warehouse, outbound order, assignee, or status.</li>
                    <li>Open a task to confirm picked quantities for each item.</li>
                    <li>When all quantities are confirmed, the task is completed automatically.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
