<div class="modal fade" id="outboundChecksHelp" tabindex="-1" aria-labelledby="outboundChecksHelpLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="outboundChecksHelpLabel">Outbound Checks - Help</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Outbound checks validate picked quantities before packing.</p>
                <ul>
                    <li>Filter by status to focus on picking or already checked orders.</li>
                    <li>Open an order to confirm quantities and add divergence reasons.</li>
                    <li>Add evidence files when required by the operation.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
