<div class="modal fade" id="usersHelp" tabindex="-1" aria-labelledby="usersHelpLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="usersHelpLabel">Users Help</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>Index (Users)</h6>
                <ul>
                    <li>Search by email or name.</li>
                    <li>Filter by status and include inactive users when needed.</li>
                    <li>Use "New User" to create internal accounts.</li>
                </ul>

                <h6>Create</h6>
                <ul>
                    <li>Provide email, full name, and a password.</li>
                    <li>Select one or more roles.</li>
                </ul>

                <h6>Edit</h6>
                <ul>
                    <li>Update email, name, and role assignments.</li>
                </ul>

                <h6>Details</h6>
                <ul>
                    <li>Review roles and status.</li>
                    <li>Use "Reset Password" to set the default password.</li>
                </ul>

                <h6>Deactivate</h6>
                <ul>
                    <li>Deactivation disables login while keeping history.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
